
.tileClosed {
    -fx-fill: cadetblue;
    -fx-stroke: red;
}

.tile0 {
    -fx-fill: darkblue;
    -fx-stroke: white;
}

.tile1 {
    -fx-fill: limegreen;
    -fx-stroke: white;
}

.tile2 {
    -fx-fill: orangered;
    -fx-stroke: white;
}

.tile3 {
    -fx-fill: yellow;
    -fx-stroke: white;
}

.tile4 {
    -fx-fill: seagreen;
    -fx-stroke: white;
}

.tile5 {
    -fx-fill: lightsalmon;
    -fx-stroke: white;
}

.tile6 {
    -fx-fill: gray;
    -fx-stroke: white;
}

.tile7 {
    -fx-fill: aquamarine;
    -fx-stroke: white;
}